body {
	background-color: darkblue;
}

.box {
	width: 300px;
	height: 50px;
	border: 1px solid red;
	margin: 60PX;
}

#visible {
	color: green;
	overflow: visible;
}

#hidden {
	color: blue;
	overflow: hidden;
}
#scroll {
	color: orange;
	overflow: scroll;
}

#auto {
	color: chocolate;
	overflow: auto;
}